<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="header/Header.css">
    <link rel="stylesheet" href="layoutTareas/LayoutTareas.css">
    <link rel="stylesheet" href="formulario_nueva_tarea/NuevaTarea.css">
    <link rel="stylesheet" href="../../config.css">

    <link rel="icon" href="https://raw.githubusercontent.com/ROCKEMMA/img/ba688eb16545dd9e8de0dbabc3a2e77ce8bacedb/icos_portafolio/gameboy-stroke-rounded.svg" type="image/x-icon">
    <title>Document</title>
</head>
<body>

    <main id="root-work"></main>

    <script src="WorckPanel.js" type="module"></script>
</body>
</html>